* {
  box-sizing: border-box; }

body {
  margin: 0; }
  body .navbar {
    display: none; }
    body .navbar ul {
      display: flex;
      flex-direction: row;
      position: fixed;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      background-color: #444554;
      margin: 0;
      padding: 0;
      z-index: 1000; }
      @media (min-width: 768px) {
        body .navbar ul .name {
          margin-right: auto; } }
      body .navbar ul .name a {
        font-size: 14pt;
        font-family: 'Armata', sans-serif;
        color: #FFF; }
        @media (min-width: 768px) {
          body .navbar ul .name a {
            font-size: 20pt; } }
        @media (min-width: 768px) {
          body .navbar ul .name a:hover {
            font-size: 22pt; } }
      body .navbar ul li {
        list-style-type: none;
        padding: 10px; }
        body .navbar ul li a {
          font-family: 'Armata', sans-serif;
          font-size: 8pt;
          text-decoration: none;
          color: #FFF; }
          @media (min-width: 768px) {
            body .navbar ul li a {
              font-size: 10pt; } }
  body section {
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
    width: 100%; }
    @media (min-width: 768px) {
      body section {
        padding: 0 7%; } }
    body section .intro {
      height: 90vh; }
    body section .content {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 2;
      -webkit-animation-duration: 4s; }
      body section .content h1 {
        font-family: 'Armata', sans-serif;
        font-size: 40pt;
        text-align: center; }
        @media (min-width: 768px) {
          body section .content h1 {
            font-size: 60pt; } }
      body section .content h2 {
        font-family: 'Armata', sans-serif;
        font-size: 20pt;
        text-align: center;
        margin-top: -50px; }
        @media (min-width: 768px) {
          body section .content h2 {
            font-size: 30pt;
            margin-top: -70px; } }
  body .about-me {
    margin-top: 150px; }
    body .about-me .about-content {
      position: relative;
      margin-left: 10px;
      margin-right: 10px; }
      @media (min-width: 768px) {
        body .about-me .about-content {
          margin: 0; } }
      body .about-me .about-content h1 {
        font-size: 30pt;
        font-family: 'Armata', sans-serif;
        text-align: center;
        z-index: 3; }
        @media (min-width: 768px) {
          body .about-me .about-content h1 {
            font-size: 40pt; } }
      body .about-me .about-content p {
        font-size: 14pt;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        z-index: 3;
        position: relative; }
        @media (min-width: 768px) {
          body .about-me .about-content p {
            font-size: 20pt; } }
    body .about-me .skills-content {
      margin-top: 150px; }
      body .about-me .skills-content h3 {
        font-size: 24pt;
        font-family: 'Armata', sans-serif;
        text-align: center; }
        @media (min-width: 768px) {
          body .about-me .skills-content h3 {
            font-size: 30pt; } }
      body .about-me .skills-content .code-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin-top: -10px; }
        @media (min-width: 768px) {
          body .about-me .skills-content .code-logos {
            margin-left: 100px;
            margin-right: 100px; } }
        body .about-me .skills-content .code-logos li {
          list-style-type: none;
          align-self: center;
          padding: 10px; }
          body .about-me .skills-content .code-logos li img {
            width: 80px; }
            @media (min-width: 769px) {
              body .about-me .skills-content .code-logos li img {
                width: 100px; } }
  body .projects {
    padding: 0;
    margin-top: 150px;
    background-color: #FFF; }
    @media (min-width: 768px) {
      body .projects .project-content {
        margin: 2em; } }
    @media (min-width: 900px) {
      body .projects .project-content {
        margin: 4em; } }
    @media (min-width: 1000px) {
      body .projects .project-content {
        margin: 10em; } }
    body .projects .project-content h1 {
      font-size: 30pt;
      font-family: 'Armata', sans-serif;
      text-align: center; }
    body .projects .project-content .boxes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%; }
      body .projects .project-content .boxes li {
        list-style-type: none;
        padding: 1em;
        align-self: center; }
        body .projects .project-content .boxes li ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #7C90A0;
          box-shadow: 10px 10px 5px #888888;
          padding: 0; }
          body .projects .project-content .boxes li ul .project-detail {
            background-color: rgba(255, 255, 255, 0.5);
            margin: 1em; }
          body .projects .project-content .boxes li ul li {
            list-style-type: none;
            align-self: center; }
            body .projects .project-content .boxes li ul li img {
              padding: 0;
              margin: 0;
              width: 100%;
              border: 3px solid black; }
            body .projects .project-content .boxes li ul li h3 {
              font-size: 14pt;
              font-family: 'Armata', sans-serif;
              text-align: center; }
            body .projects .project-content .boxes li ul li p {
              font-family: 'Open Sans', sans-serif;
              font-size: 12pt;
              text-align: center; }
  body .contact {
    background: #444554;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #444554);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #444554);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #444554);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #444554);
    /* Standard syntax */
    padding: 0;
    width: 100%; }
    body .contact .contact-content {
      margin-top: 100px; }
      body .contact .contact-content h1 {
        font-size: 30pt;
        font-family: 'Armata', sans-serif;
        text-align: center; }
        @media (min-width: 768px) {
          body .contact .contact-content h1 {
            font-size: 40pt; } }
      body .contact .contact-content h3 {
        font-size: 20pt;
        font-family: 'Armata', sans-serif;
        text-align: center; }
        @media (min-width: 768px) {
          body .contact .contact-content h3 {
            font-size: 30pt; } }
      body .contact .contact-content .school-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 1em; }
        body .contact .contact-content .school-logos li {
          list-style-type: none;
          padding: 1em; }
          body .contact .contact-content .school-logos li img {
            width: 100px;
            border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
