* {box-sizing: border-box;}

body {
margin: 0;

// Navigation Bar - not visible until About me Section

	.navbar {
	display: none;
		ul {
		display: flex;
		flex-direction: row;
		position: fixed;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	 	background-color: #444554;
	 	margin: 0;
	 	padding: 0;
	 	z-index: 1000;
			.name {
			@media (min-width: 768px) {
				margin-right: auto;	
			}
				a {
				@media (min-width: 768px) {
					font-size: 20pt;
				}
				font-size: 14pt;
				font-family: 'Armata', sans-serif;
				color: #FFF;
					&:hover {
						@media (min-width: 768px) {
						font-size: 22pt;	
						}
						
					}
				}
			}
			li {
			list-style-type: none;
			padding: 10px;
				a {
				font-family: 'Armata', sans-serif;
				font-size: 8pt;
				text-decoration: none;
				color: #FFF;
					@media (min-width: 768px) {
					font-size: 10pt;
				}
				}
			}
		}
	}


section {
width: 100%;
padding: 0 7%;
display: table;
margin: 0;
max-width: none;
height: 100vh;

// Intro Page, Name and Tag

	.intro {
	height: 90vh;
	}

	.content {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	-webkit-animation-duration: 4s;
		h1 {
		font-family: 'Armata', sans-serif;
		font-size: 60pt;
		text-align: center;
		}
		h2 {
		font-family: 'Armata', sans-serif;
		font-size: 30pt;
		text-align: center;
		margin-top: -70px;
		}
	}
}

// About Me Section

	.about-me {
		margin-top: 150px;
		
		.about-content {
		position: relative;

			h1 {
			font-size: 30pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
			z-index: 3;
				@media (min-width: 768px) {
				font-size: 40pt;
				}
			}
			
			p {
			font-size: 14pt;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			z-index: 3;
			position: relative;
				@media (min-width: 768px) {
				font-size: 20pt;
				}
			}
		}

		.skills-content {
			margin-top: 150px;

			h3 {
			font-size: 24pt;
			font-family: 'Armata', sans-serif;
			text-align: center;

				@media (min-width: 768px) {
				font-size: 30pt;
				}
			}

			.code-logos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 0;
			margin-top: -10px;
			
				@media (min-width: 768px) {
				margin-left: 100px;
				margin-right: 100px;
				}
				li {
				list-style-type: none;
				align-self: center;
				padding: 10px;
					img {
					width: 100px;
					}
				}
			}
		}
	}

// Projects Section 

	.projects {
	padding: 0;
	margin-top: 150px;
	background-color: #FFF;

		.project-content {

			@media (min-width: 768px) {
			margin-left: 60px;
			margin-right: 60px;
			}
	
			h1 {
			font-size: 30pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
				@media (min-width: 768px) {
				font-size: 40pt;
				}
			}
			.boxes {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 0;
			margin:0;
				@media (min-width: 769px) {

				}
				li {
				list-style-type: none;
				padding: 2em;
					@media (min-width: 800px) {
						padding: 0;
						margin: 0;
					}

					ul {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					background-color: #7C90A0;
					box-shadow: 10px 10px 5px #888888;
					padding: 0;
						@media (min-width: 800px) {
						flex-direction: row;
						padding: 2em;
						margin: 2em;
						border-radius: 40px;
						}

						li {
						list-style-type: none;
						align-self: center;
						padding: 10px;

							img {
							padding: 0;
							margin: 0;
							width: 100%;
							border: 3px solid black;
							
								@media (min-width: 1050px) {
								width: 600px;
								padding: 0;
								border: 3px solid #000;
								}	
							}
							h3 {

							font-size: 14pt;
							font-family: 'Armata', sans-serif;
							text-align: center;
								@media (min-width: 800px) {
									font-size: 20pt;
								}
							}
							p {
							font-family: 'Open Sans', sans-serif;
							font-size: 12pt;
							text-align: center;
							
								@media (min-width: 800px) {
									font-size: 14pt;
									padding: 10px;
								}
							}
						}
					}
				}	
			}	
		}
	}


// Contact Me Section	
	.contact {
	background: #444554; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #444554); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #444554); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #444554); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #444554); /* Standard syntax */
	padding: 0;

		.contact-content {
		margin-top: 100px;
			h1 {
			font-size: 30pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
				@media (min-width: 768px) {
					font-size: 40pt;
				}
			}
			h3 {
			font-size: 20pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
					@media (min-width: 768px) {
					font-size: 30pt;
				}
			}
			.school-logos {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			margin: 1em;
				li {
				list-style-type: none;
				padding: 1em;
					img {
					width: 100px;
					border-radius: 50%;
					}
				}
			}
		}
	}
}