* {
  box-sizing: border-box; 
}
body {
margin: 0;

.pink {
	position: absolute;
	width: 50%;
	z-index: 1;
	top: -50px;
	left: -10px;   
}
.blue {
	position: absolute;
	width: 60%;
	z-index: 1;
	right: 0;
	top: 10px;
}


	.navbar {
		display: none;
		


		ul {
		display: flex;
		flex-direction: row;
		position: fixed;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	 	background-color: #283C63;
	 	margin: 0;
	 	padding: 0;
	 	z-index: 3;

			.name {
			margin-right: auto;
			font-size: 20pt;
			font-family: 'Armata', sans-serif;
			color: #928A97;
			}
			li {
			list-style-type: none;
			padding: 10px;
				a {
				font-family: 'Armata', sans-serif;
				font-size: 10pt;
				text-decoration: none;
				color: #FFF;
				}
			}
		}
	}

	section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #FFF;
	height: 100vh;
	


		.intro {
		height: 90vh;
		}

		.content {
		display: table-cell;
  		vertical-align: middle;
  		position: absolute;
		z-index: 2;
		-webkit-animation-duration: 4s;
		
			
			h1 {
			font-family: 'Armata', sans-serif;
			font-size: 60pt;
			text-align: center;

			
			}
			h2 {
			font-family: 'Armata', sans-serif;
			font-size: 30pt;
			text-align: center;
			margin-top: -70px;
			}
		}
	}
	.about-me {
		.about-content {

			h1 {
			font-size: 40pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
			z-index: 2;
			}
			h3 {
			font-size: 30pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
			}
			p {
			font-family: 'Open Sans', sans-serif;
			font-size: 20pt;
			text-align: center;
			z-index: 2;
			}

			.code-logos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 0;
			margin-top: -40px;
			margin-left: 100px;
			margin-right: 100px;
				li {
				list-style-type: none;
				align-self: center;
				padding: 40px;

					img {
					width: 100px;
					}
				}
			}
		}
	}

	.projects {
	padding: 0;
	margin-top: 150px;
	background-color: #FBE8D3;
		.project-content {
			margin-left: 60px;
			margin-right: 60px;
			h1 {
			font-size: 40pt;
			font-family: 'Armata', sans-serif;
			text-align: center;
			}
			ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: stretch;
			padding: 1em;
				li {
				list-style-type: none;
					img {
					width: 600px;
					border: 3px solid #000;	
					box-shadow: 10px 10px 5px #888888;

					}
					h3 {
					font-size: 20pt;
					font-family: 'Armata', sans-serif;
					text-align: center;
					}
					p {
					font-family: 'Open Sans', sans-serif;
					font-size: 15pt;
					text-align: center;
					}
				}
			}
		}
	}
	.contact {
		.school-logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
			li {
			list-style-type: none;
			padding: 1em;
				img {
				width: 100px;
				border-radius: 50%;
				}
			}
		}
	}
}