$green:#4AC6B7;
$blue:#4F5E7F;
$purple:#965F8A;
$salmon:#FF7070;


body {
margin: 0;
padding: 0;

// Navigation Bar - not visible until About me Section

	.navbar {
	display: none;
	
		ul {
		display: flex;
		flex-direction: row;
		position: fixed;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	 	background-color: $blue;
	 	margin: 0;
	 	padding: 0;
	 	top:0;
	 	z-index: 1000;

			.name {
			@media (min-width: 768px) {
				margin-right: auto;	
			}
				a {
				font-size: 14pt;
				font-family: 'Sofia', cursive;
				color: #FFF;
					@media (min-width: 768px) {
					font-size: 20pt;
					}
					&:hover {
						@media (min-width: 768px) {
						font-size: 22pt;	
						}
					}
				}
			}
			li {
			list-style-type: none;
			padding: 5px;
			
				@media (min-width: 768px) {
					padding: 20px;
				}
				@media (min-width: 1000px) {
					margin-left: 50px;
	 		margin-right: 50px;
				}
				a {
				font-family: 'Fauna One', serif;
				font-size: 8pt;
				text-decoration: none;
				color: #FFF;
					@media (min-width: 768px) {
					font-size: 10pt;
				}
				}
			}
		}
	}

// Intro Page, Name and Tag

.header {
  z-index: 1;
  position: relative;
	
 	.content {
		vertical-align: middle;
		z-index: 2;
		-webkit-animation-duration: 4s;


	

			.me {
			width: 200px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
			position: relative;
			top: 200px;
			}


						
			h1 {
			font-family: 'Sofia', cursive;
			position: relative;
			color: #FFF;
			font-size: 40pt;
			text-align: center;
			margin-top: 100px;
			top: 100px;
				@media (min-width: 768px) {
				font-size: 60pt;

				}
			}

			h2 {
			color: $blue;
			font-family: 'Fauna One', serif;
			font-size: 18pt;
			text-align: center;
			padding: 100px;
			letter-spacing: 10px;
			padding-left: 0;
			padding-right: 0;
			margin-top: -60px;
				@media (min-width: 768px) {
				font-size: 30pt;
				margin-top: -80px;
				letter-spacing: 14px;
				}
			}
		}
	.intro {
	margin-top: -50px;
	}
  	.intro:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: visible;
	width: 100%;
	height: 1000px;
	background: $green;
	z-index: -1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
	}
}

// About Me Section

	.about-me {
		
		margin-top: 120px;
			@media (min-width: 900px) {
			margin-left: 200px;
			margin-right: 200px;
			}
		
		.about-content {
		position: relative;
		border-top: 5px solid $salmon;
		border-bottom: 5px solid $salmon;
		padding: 1em;
		margin-bottom: 50px;

		@media (min-width: 768px) {
			margin-left: 0;
			margin-right: 0;
			margin-top: 150px;

		}

			h1 {
			font-size: 25pt;
			font-family: 'Sofia', cursive;
			text-align: center;
			z-index: 3;
			color: $blue;
			letter-spacing: 2px;
			
				@media (min-width: 768px) {
				font-size: 30pt;
				}
			}
			
			p {
			font-size: 14pt;
			font-family: 'Fauna One', serif;
			text-align: center;
			z-index: 3;
			position: relative;
			color: $blue;
				@media (min-width: 768px) {
				font-size: 18pt;
				}
			}
		}

		.skills-content {
			margin-top: 50px;
			margin-bottom: 50px;
			background-color: #FFF;
			border: 10px solid $green;

			h3 {
			font-size: 24pt;
			font-family: 'Sofia', cursive;
			text-align: center;
			padding: 1em;
			letter-spacing: 2px;
			color: $blue;
				@media (min-width: 768px) {
				font-size: 30pt;
				}
			}

			.code-logos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 0;
			margin-top: -50px;
		
			
				@media (min-width: 768px) {
				margin-left: 100px;
				margin-right: 100px;
				margin-top: -80px;
				}
				li {
				list-style-type: none;
				align-self: center;
				padding: 10px;
					img {
					width: 80px;
					@media (min-width: 769px) {
						width: 100px;
					}
					}
				}
			}
		}
	}

// Projects Section 

	.projects {
	margin-top: 200px;
	padding: 0;
	padding-bottom: 100px;
	padding-top: 100px;
	border-top: 10px dotted $salmon;

		
		h1 {
		font-size: 50pt;
		font-family: 'Sofia', cursive;
		text-align: center;
		z-index: 3;
		letter-spacing: 2px;
		color: $blue;
		}

		.project-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;

			.cards-item {
			display: flex;
			padding: 1.5rem;
			  @media(min-width: 40rem) {
			  width: 50%;
			  }
			  @media(min-width: 56rem) {
			  width: 30%;
			  }
			  @media (max-width: 83rem) and (min-width: 41rem) {
			  	width: 40%;
			  	padding: 1rem;
			  }
			  

				.card {
				background-color: white;
				border: 8px solid $blue;
				border-radius: 0.25rem;
				box-shadow: 0 20px 40px 14px rgba(0,0,0,0.5);
				display: flex;
				flex-direction: column;
				overflow: hidden;

					

					.card-content {
					display: flex;
					flex: 1 1 auto;
					flex-direction: column;
					padding: 1rem;

							.card-title {
							font-family: 'Fauna One', serif;
							font-size: 1.25rem;
							font-weight: 300;
							text-align: center;
							}

							.card-text {
							font-family: 'Fauna One', serif;
							flex: 1 1 auto;
							font-size: 0.875rem;
							line-height: 1.5;
							margin-bottom: 1.25rem;	
							text-align: center;
							}

							.project-icons {
								display: block;
								width: 100%;
								text-align: center;
									.fa {
										color: #000;
										padding: 10px;
										 &:hover {
										 	color: $salmon;
										 }

									}
							}



					}

					.project-img {
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					overflow: hidden;
					position: relative;
					border-bottom: 2px solid #3D4949;
					transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
						&::before {
						content: "";
						display: block;
					    padding-top: 56.25%; // 16:9 aspect ratio
					  	}
					  	@media(min-width: 40rem) {
					    	&::before {
					    	padding-top: 66.6%; // 3:2 aspect ratio
					   		 }
					  	}
					}

					img {
  					height: auto;
 					 max-width: 100%;
 					 vertical-align: middle;
						}

					.project-img-pomodoro {
						background-image: url(projects/pomodoro.png);
					}	
					.project-img-mdeyedocs {
						background-image: url(projects/mdeyedocs.png);
					}
					.project-img-calc {
						background-image: url(projects/calculator.png);
					}
					.project-img-twitch {
						background-image: url(projects/twitch.png);
					}
					.project-img-wikiview {
						background-image: url(projects/wikiview.png);
					}
					.project-img-weatherapp {
						background-image: url(projects/weatherapp.png);
					}
					.project-img-hpquote {
						background-image: url(projects/hpquote.png);
					}
					.project-img-portfolio {
						background-image: url(projects/portfolio.png);
					}
					.project-img-tama {
						background-image: url(projects/tama.png);
					}
				}
			}
		}
	}
	
// Contact Me Section	
	.contact {
	background-color: $blue;
	padding: 0;
	width: 100%;
	display: flex;
	height: auto;

		.contact-content {
		align-self: flex-end;
		width: 100%;

			h1 {
			color: #FFF;
			font-size: 30pt;
			font-family: 'Sofia', cursive;
			text-align: center;
				@media (min-width: 768px) {
					font-size: 40pt;
				}
			}
			
			.contact-boxes {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
				@media (min-width: 769px) {
					flex-direction: row;
					margin-left: 5%;

				}

				li {
					list-style-type: none;
					padding: 0;
					width: 90%;
						@media (min-width: 769px) {
							padding: 1em;
							width: 30%;
							margin-bottom: 100px;
						}
				}
				a {
					text-decoration: none;
				}
				.blog-box {
					background-color: #FFF;
					text-align: center;
					border: 8px solid $blue;
					border-radius: 0.25rem;
					box-shadow: 0 20px 40px 14px rgba(0,0,0,0.5);
					width: 50%;
					margin-bottom: 100px;

					
						@media(min-width: 769px) {
							width: 400px;
							margin-left: 5%;
							padding: 10px;
							margin-right: 5em;
						}

					h4 {
						font-family: 'Fauna One', serif;
						margin: 0;
						padding: 1em;
						color: #000;
					}

					img {
						width: 100%;
						padding: 0;
						margin: 0;
							@media(min-width: 769px) {
								width: 100%;
							}
					}
				}
					h3 {
					font-family: 'Fauna One', serif;
					background-color: $salmon;
					border: 2px solid #FFF;
					border-radius: 0.25rem;
					text-align: center;
					color: #FFF;
					padding: 10px 5px 10px 5px;
					font-size: 12pt;
						@media (min-width: 769px) {

						}
						
					}
			}

				
			}
		}
	
}